<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Foro Cecytem</a>
    </div>
</nav>

<div class="container mt-3">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="card">
                <div class="card-header">Inicio de sesion</div>
                <div class="card-body">
                    <input [(ngModel)]="usuario" type="text" class="form-control mb-1" placeholder="Usuario">
                    <input [(ngModel)]="password" type="password" class="form-control" placeholder="Password">

                    <button (click)="login()" class="btn btn-outline-primary mt-5">Entrar</button>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>